  html { 
    scroll-snap-type: y mandatory;
  }
  
  main {
    max-width: 800px;
    padding-top: 80px;
    margin: 0 auto;
    color: white;
  }
  
  h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  


  #resume{
    /* padding-top: 200px; */
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    animation: fadeIn 3s;
  } 

  #resume-header{
    animation: fadeIn 2s;
  }

  #projects{
    padding-top: 200px;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    animation: fadeIn 3s;
  }

  #projectheader{
    text-align: center;
    padding-bottom: 20px;
    animation: fadeIn 3s;
  }

  #projectdesc{
    text-align: center;
    padding: 30px;
    animation: fadeIn 3s;
  } 

  #contact{
    padding-top: 100px;
    height: 80vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    
  }


  .fade-in-section {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }

  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }


  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }