  main {
    max-width: 800px;
    padding-top: 80px;
    margin: 0 auto;
    color: white;
  }
  
  html { 
    scroll-snap-type: y mandatory;
  }

  section {
    padding-top: 200px;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
  }

  h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  

  #projects{
    padding-top: 100px;
    padding-bottom: 1000px;
    animation: fadeIn 3s;
  }
  
  #projectheader{
    text-align: center;
    padding-bottom: 20px;
  }

  #projectdesc{
    text-align: center;
    padding: 30px;
  } */

  #resume{
    padding-bottom: 1000px;
  } */


  #contact{
    padding-bottom: 1000px;
  }


  #resumepdf{
    height: 1131px;
    width: 980;
  }

  #resumeheader{
    padding-bottom: 20px;
  }





  .fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
 
  